.name {
    color: red;
}

.formWrapper {
    display: inline-block;
    margin-bottom: -24px;
}

.formWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.iconGroup {
    margin-bottom: 24px;
    color:grey;
}

.domainAndIp {
    margin-left: 15px;
}

.addWrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color:#1890ff;
}

.aWord {
    color: black;
    margin-right: 20px;
}

.iSpan {
    display: inline-block;
    margin-right: 10px;
}